@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype"); }

.button {
  text-decoration: none;
  color: #fff !important;
  padding: 0.4em 1em;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0.3em 0;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  outline: none; }
  .button:nth-of-type(n+2) {
    margin-left: 0.3em; }
  .button.big {
    font-size: 1.25em;
    padding: 0.4em 2em; }
  .button.blue {
    color: #2ca4ff !important;
    border: 1px solid #2ca4ff;
    background-color: rgba(185, 229, 255, 0.2); }
    .button.blue:hover {
      background-color: rgba(44, 164, 255, 0.6);
      border: 1px solid;
      color: #fff !important; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.4); }

.checkbox {
  cursor: pointer; }
  .checkbox input[type="checkbox"] {
    display: none; }
    .checkbox input[type="checkbox"]:checked + span::before {
      background-position-x: -48px; }
  .checkbox span {
    padding-left: 27px; }
    .checkbox span::before {
      position: absolute;
      margin: -2px -27px;
      content: ".";
      font-size: 0;
      color: blue;
      width: 22px;
      height: 22px;
      background-image: url("/images/form_selector.png"); }
    .checkbox span:hover::before {
      background-position-x: -24px; }

input[type="text"],
input[type="password"] {
  padding: 0.5em 0.7em;
  border: 1px solid #d2d2d2;
  margin: 0.1em 0;
  border-radius: 3px;
  color: #3c3c3c;
  font-family: Roboto; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border: 1px solid #2ca4ff; }

.alert.error {
  font-size: 0.9em;
  border: 1px solid #ff3b00;
  border-radius: 2px;
  padding: 0.5em 0.7em;
  background-color: #f9e1d9; }

html {
  font-size: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto'; }

a {
  text-decoration: none;
  color: #359fff; }
  a:hover {
    color: #006dfd; }

.content {
  width: 70rem;
  display: block;
  margin: auto;
  padding: 1.2rem; }

#root.homewr {
  min-height: 100vh;
  background-color: #688abd;
  background-attachment: fixed;
  background-image: url("/images/overlay.png"); }

.Home #push_container {
  margin-top: calc(16em - 100vh); }

.Home .container {
  min-height: 100vh; }
  .Home .container .menu {
    background-color: #f1f1f1;
    box-shadow: 0px 1px 3px 0 rgba(78, 78, 78, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    .Home .container .menu .content {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      width: initial; }
    .Home .container .menu ul {
      margin: 0;
      padding: 0; }
      .Home .container .menu ul li {
        display: inline-block; }
        .Home .container .menu ul li a {
          font-size: 0.9em;
          padding: 0.9em 1em;
          display: inline-block; }
          .Home .container .menu ul li a:hover {
            background-color: #00b8ff;
            color: #fff; }
  .Home .container .frame {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center; }
    .Home .container .frame .box {
      width: 40rem;
      background-color: #fbfbfb;
      margin-top: 6.8rem;
      border-radius: 2px;
      box-shadow: 0 0 2px #424242; }
      .Home .container .frame .box .head {
        border-radius: 2px 2px 0 0;
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
        box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5); }
        .Home .container .frame .box .head .goback a {
          height: calc(100% - 1em);
          display: flex;
          align-items: center;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.3);
          padding: 0.5em 1em;
          opacity: 0.5; }
          .Home .container .frame .box .head .goback a img {
            width: 1em;
            opacity: 0.5; }
          .Home .container .frame .box .head .goback a:hover {
            opacity: 1; }
          .Home .container .frame .box .head .goback a:hover img {
            opacity: 0.7; }
        .Home .container .frame .box .head .goback .hvaSMS {
          position: absolute;
          margin: -1.8em 0 0 4em;
          font-size: 0.7em;
          background: rgba(255, 0, 0, 0.5);
          padding: 0.2em;
          color: white;
          font-weight: bold;
          border-radius: 20%; }
        .Home .container .frame .box .head .title {
          padding: 0.5em 1em; }
      .Home .container .frame .box .seach input {
        width: calc(100% - 1.4em - 2px);
        border-radius: initial; }
      .Home .container .frame .box .list {
        padding: 0;
        margin: 0;
        list-style: none; }
        .Home .container .frame .box .list .msg {
          text-align: center;
          padding: 1em;
          color: #ababab; }
        .Home .container .frame .box .list .user {
          display: flex;
          justify-content: space-between; }
          .Home .container .frame .box .list .user a {
            color: #000;
            display: block;
            padding: 0.3em; }
            .Home .container .frame .box .list .user a .ava {
              width: 3em;
              border: 2px;
              margin-left: 1em; }
            .Home .container .frame .box .list .user a .name {
              position: relative;
              top: -1em;
              left: 1em; }
              .Home .container .frame .box .list .user a .name .nick {
                font-size: 0.9em;
                color: #969696;
                margin-left: 1em; }
            .Home .container .frame .box .list .user a:last {
              border-radius: 0 0 2px 2px; }
          .Home .container .frame .box .list .user.nsms {
            background: rgba(0, 149, 255, 0.2); }
          .Home .container .frame .box .list .user:hover {
            background-color: rgba(100, 133, 183, 0.3); }
          .Home .container .frame .box .list .user .addFriend {
            cursor: pointer;
            padding: 1.3em 1.5em; }
            .Home .container .frame .box .list .user .addFriend:hover {
              background-color: rgba(0, 161, 255, 0.1); }
      .Home .container .frame .box .chatBox .ovf {
        height: calc(100vh - 16em);
        overflow: hidden; }
      .Home .container .frame .box .chatBox ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .Home .container .frame .box .chatBox ul li {
          padding: 1em;
          display: flex;
          flex-direction: row; }
        .Home .container .frame .box .chatBox ul .avatar {
          width: 3em;
          min-width: 3em;
          height: 3em;
          background-size: cover;
          border-radius: 3px; }
        .Home .container .frame .box .chatBox ul .name {
          margin-left: 1em;
          font-weight: bold; }
        .Home .container .frame .box .chatBox ul .sms {
          margin-left: 1em;
          margin-top: 0.8em;
          font-size: 0.9em; }
        .Home .container .frame .box .chatBox ul .msms {
          text-align: right;
          flex-direction: row-reverse; }
          .Home .container .frame .box .chatBox ul .msms .name {
            margin: 0 1em 0 0; }
          .Home .container .frame .box .chatBox ul .msms .sms {
            margin: 0.8em 1em 0 0; }
      .Home .container .frame .box .chatBox form {
        display: flex; }
        .Home .container .frame .box .chatBox form textarea {
          flex-grow: 1;
          padding: 1em;
          border: 1px solid;
          border-color: #e0e0e0 transparent transparent transparent;
          resize: none;
          height: 4em; }
          .Home .container .frame .box .chatBox form textarea:focus {
            border-color: #3eafff transparent transparent transparent;
            outline: none; }
        .Home .container .frame .box .chatBox form .send {
          width: 3em;
          position: relative;
          cursor: pointer;
          border: 1px solid;
          border-color: #e0e0e0 transparent transparent #e0e0e0; }
          .Home .container .frame .box .chatBox form .send:hover::after {
            opacity: 0.7; }
          .Home .container .frame .box .chatBox form .send::after {
            content: "";
            background: url(/images/icons/goback.png);
            background-repeat: no-repeat;
            background-position: 50%;
            opacity: 0.4;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            transform: rotateZ(180deg); }

.HomeLanding .strip {
  color: #676767;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .HomeLanding .strip .title {
    font-size: 3em;
    margin: 1.5em 0 0 0;
    font-weight: 100; }
  .HomeLanding .strip .info {
    margin: 1em 0 4.5em 0;
    font-size: 1.1em; }

.HomeLanding .header {
  background-image: url("/images/overlay.png"), url("/images/bk3.png");
  padding-bottom: 12em;
  background-position: top left, center;
  background-size: auto, cover; }
  .HomeLanding .header .top-panel {
    display: flex;
    justify-content: flex-end; }
    .HomeLanding .header .top-panel a {
      text-decoration: none;
      color: #fff;
      font-size: 0.9em; }
      .HomeLanding .header .top-panel a:hover {
        color: #006dfd; }
    .HomeLanding .header .top-panel .menu {
      padding: 1.3em;
      margin-right: 1em;
      display: inline-block; }
      .HomeLanding .header .top-panel .menu a:nth-child(n+2) {
        margin-left: 1em; }
  .HomeLanding .header .form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9em; }
    .HomeLanding .header .form .title {
      font-size: 4.5em;
      letter-spacing: 0.1em;
      font-weight: 100;
      margin: 0;
      text-shadow: 0 0 0.3em rgba(210, 210, 210, 0.3); }
    .HomeLanding .header .form .info {
      margin-top: -0.6em;
      font-size: 1em;
      text-shadow: 0 0 0.3em rgba(210, 210, 210, 0.3); }
    .HomeLanding .header .form .enter {
      display: flex;
      flex-direction: column;
      margin-top: 1.2em; }
      .HomeLanding .header .form .enter .signup {
        display: flex;
        align-content: space-between;
        justify-content: center; }
        .HomeLanding .header .form .enter .signup .hor {
          border-bottom: 1px solid rgba(255, 255, 255, 0.7);
          width: 1.2em;
          height: 0.5em; }
        .HomeLanding .header .form .enter .signup .txt {
          font-size: 0.9em;
          padding: 0 0.4em; }
          .HomeLanding .header .form .enter .signup .txt a {
            color: #fdfdfd;
            text-decoration: none; }
            .HomeLanding .header .form .enter .signup .txt a:hover {
              color: #359fff; }

.HomeLanding .fordev {
  background: url("/images/overlay.png"), linear-gradient(45deg, #6883b3, #535a88, #2e324c);
  padding: 3.5em 0; }
  .HomeLanding .fordev > .info {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: 100; }
    .HomeLanding .fordev > .info .box img {
      width: 10em; }
    .HomeLanding .fordev > .info .box .div {
      height: 5em;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      width: 0;
      margin: 1em 0 1em 50%; }
    .HomeLanding .fordev > .info .box .title {
      font-size: 1.7em;
      text-align: center; }
    .HomeLanding .fordev > .info .box .info {
      width: 10em;
      margin-top: 1em;
      text-align: center; }
  .HomeLanding .fordev > .foot {
    display: flex;
    justify-content: center;
    margin-top: 1em; }

.HomeLanding .footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0; }
  .HomeLanding .footer a {
    text-decoration: none;
    color: #fff; }
  .HomeLanding .footer .icons img {
    width: 1.2em;
    padding: 0 0.5em; }
  .HomeLanding .footer .info {
    padding: 0;
    list-style: none;
    font-size: 0.8em;
    font-weight: 100;
    margin: 1em 0 0 0; }
    .HomeLanding .footer .info li {
      color: #fff;
      display: inline-block; }
      .HomeLanding .footer .info li:nth-child(n+2) {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 1px solid #9c9c9c; }

.Signin .container, .Signup .container {
  background-color: #688abd;
  background-image: url("/images/overlay.png");
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .Signin .container form, .Signup .container form {
    padding: 1em 1.5em;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.4); }
    .Signin .container form .title, .Signup .container form .title {
      text-align: center;
      font-size: 0.9em;
      margin: 0 0 2em 0; }
    .Signin .container form label, .Signup .container form label {
      display: block;
      margin: 0.1em 0 0.1em 0; }
    .Signin .container form .form-control, .Signup .container form .form-control {
      margin: 1em 0; }
    .Signin .container form input[type="text"], .Signup .container form input[type="text"], .Signin .container form input[type="password"], .Signup .container form input[type="password"] {
      width: 15em; }
    .Signin .container form .splink, .Signup .container form .splink {
      font-size: 0.8em;
      display: block;
      margin-top: 1em; }
    .Signin .container form .alert, .Signup .container form .alert {
      width: calc(13.9em - 2px); }
