@import '_fonts.scss';
@import '_vars.scss';

@import './components/elements/_index.scss';

html {
	font-size: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}

a {
	text-decoration: none;
	color: $a-color;

	&:hover {
		color: $a-hover-color;
	}
}

.content {
	width: 70rem;
	display: block;
	margin: auto;
	padding: 1.2rem;
}

#root.homewr {
	min-height: 100vh;
	background-color: #688abd;
    background-attachment: fixed;
	background-image: url('/images/overlay.png');
}

.Home {
	@import './components/_Home.scss';
}

.HomeLanding {
	@import './components/_HomeLanding.scss';
}

.Signin {
	@import './components/_Signin.scss';
}

.Signup {
	@extend .Signin;
}