#push_container {
    margin-top: calc(16em - 100vh);
}

.container {
    min-height: 100vh;

    .menu {
        background-color: #f1f1f1;
        box-shadow: 0px 1px 3px 0 rgba(78, 78, 78, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .content {
            display: flex;
            justify-content: flex-end;
            padding: 0;
            width: initial;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                
                a {
                    font-size: 0.9em;
                    padding: 0.9em 1em;
                    display: inline-block;
                
                    &:hover {
                        background-color: #00b8ff;
                        color: #fff;
                    }
                }
            }
        }
    }

    .frame {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        
        .box {
            width: 40rem;
            background-color: #fbfbfb;
            margin-top: 6.8rem;
            border-radius: 2px;
            box-shadow: 0 0 2px #424242;

            .head {
                border-radius: 2px 2px 0 0;
                display: flex;
                justify-content: space-between;
                background-color: #f1f1f1;
                box-shadow: 0 1px 2px rgba(181, 181, 181, 0.5);

                .goback {
                    a {
                        height: calc(100% - 1em);
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.3);
                        padding: 0.5em 1em;
                        opacity: 0.5;

                        img {
                            width: 1em;
                            opacity: 0.5;
                        }

                        &:hover {
                            opacity: 1;
                        }

                        &:hover img {
                            opacity: 0.7;
                        }
                    }

                    .hvaSMS {
                        position: absolute;
                        margin: -1.8em 0 0 4em;
                        font-size: 0.7em;
                        background: rgba(255, 0, 0, 0.5);
                        padding: 0.2em;
                        color: white;
                        font-weight: bold;
                        border-radius: 20%;
                    }
                }
                .title {
                    padding: 0.5em 1em;
                }
                .div {
                    
                }
            }

            .seach{
                input {
                    width: calc(100% - 1.4em - 2px);
                    border-radius: initial;
                }
            }

            .list {
                padding: 0;
                margin: 0;
                list-style: none;

                .msg {
                    text-align: center;
                    padding: 1em;
                    color: #ababab;
                }

                .user {
                    display: flex;
                    justify-content: space-between;

                    a {
                        color: #000;
                        display: block;
                        padding: 0.3em;

                        .ava {
                            width: 3em;
                            border: 2px;
                            margin-left: 1em;
                        }
                        .name {
                            position: relative;
                            top: -1em;
                            left: 1em;

                            .nick {
                                font-size: 0.9em;
                                color: #969696;
                                margin-left: 1em;
                            }
                        }

                        &:last {
                            border-radius: 0 0 2px 2px;
                        }
                    }

                    &.nsms {
                        background: rgba(0, 149, 255, 0.2);
                    }

                    &:hover {
                        background-color: rgba(100, 133, 183, 0.3);
                    }

                    .addFriend {
                        cursor: pointer;
                        padding: 1.3em 1.5em;

                        &:hover {
                            background-color: rgba(0, 161, 255, 0.1);
                        }
                    }
                }
            }

            .chatBox {
                .ovf {
                    height: calc(100vh - 16em);
                    overflow: hidden;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    
                    li {
                        padding: 1em;
                        display: flex;
                        flex-direction: row;
                    }

                    .avatar {
                        width: 3em;
                        min-width: 3em;
                        height: 3em;
                        background-size: cover;
                        border-radius: 3px;
                    }

                    .name {
                        margin-left: 1em;
                        font-weight: bold;
                    }

                    .sms {
                        margin-left: 1em;
                        margin-top: 0.8em;
                        font-size: 0.9em;
                    }

                    .msms {
                        text-align: right;
                        flex-direction: row-reverse;

                        .name {
                            margin: 0 1em 0 0;
                        }

                        .sms {
                            margin: 0.8em 1em 0 0;
                        }
                    }
                }

                form {
                    display: flex;

                    textarea {
                        flex-grow: 1;
                        padding: 1em;
                        border: 1px solid;
                        border-color: rgb(224, 224, 224) transparent transparent transparent;
                        resize: none;
                        height: 4em;

                        &:focus {
                             border-color: #3eafff transparent transparent transparent;
                             outline: none;
                        }
                    }

                    .send {
                        width: 3em;
                        position: relative;
                        cursor: pointer;
                        border: 1px solid;
                        border-color: rgb(224, 224, 224) transparent transparent rgb(224, 224, 224);

                        &:hover::after {
                            opacity: 0.7;
                        }

                        &::after {
                            content: "";
                            background: url(/images/icons/goback.png);
                            background-repeat: no-repeat;
                            background-position: 50%;
                            opacity: 0.4;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }
        }
    }
}